<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<meta charset="UTF-8">
<title>Edition des Absences</title>
</head>
<body>
	<section layout:fragment="monContenu">
		<div class="card mt-3">
			<form th:action="@{/absence/save}" method="post">
				<input type="hidden" name="id" th:value="${absence.id}">
				<input type="hidden" name="version" th:value="${absence.version}">
				<div class="card-header bg-info text-white">
					<h3>Edition des Absences</h3>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label for="date">Date d'absence :</label> <input type="date"
							class="form-control" id="date" name="date"
							th:value="${absence.date}">
							<span class="text-danger" th:errors="${absence.date}"></span>
					</div>
					<div class="form-group">
						<label for="formateur.id">Personne concernée :</label> <select
							class="form-control" name="formateur.id" id="formateur.id">
							<option value="">Choisissez la personne concernée</option>
							<option th:each="for : ${formateurs}" th:value="${for.id}"
								th:selected="${absence.formateur?.id == for.id}">
								([[${for.nom}]] [[${for.prenom}]])</option>
						</select>
						<span class="text-danger" th:errors="${absence.formateur}"></span>
					</div>			
				</div>
				<div class="card-footer">
					<div class="btn-group btn-group-lg float-right">
						<button type="submit" class="btn btn-success">
							<i class="bi bi-check-square"></i>
						</button>
						<a th:href="@{/absence/cancel}" type="button"
							class="btn btn-warning"> <i class="bi bi-backspace"></i>
						</a>
					</div>
				</div>
			</form>
		</div>

	</section>

</body>
</html>