<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layout.html">
<head>
<meta charset="UTF-8">
<title>Liste des gestionnaires</title>
</head>
<body>
	<section layout:fragment="monContenu">
		<div class="container mt-3">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Identifiant</th>
				<th>Version</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Email</th>
				<th>Telephone</th>
				<th>Adresse</th>
				<th>Droit</th>
				<th></th>
			</tr>
			</thead>

			<tbody>
				<tr th:each="uti : ${utilisateurs}">
					<td>[[${uti.id}]]</td>
					<td>[[${uti.version}]]</td>
					<td>[[${uti.nom}]]</td>
					<td>[[${uti.prenom}]]</td>
					<td>[[${uti.email}]]</td>
					<td>[[${uti.telephone}]]</td>
					<td>[[${uti.adr?.rue}]] [[${uti.adr?.codePostal}]] [[${uti.adr?.ville}]]</td>
					<td>[[${uti.droit?.label}]]</td>
					<td><div class="btn-group btn-group-sm">
						    <a th:href="@{/utilisateur/edit(id=${uti.id})}" type="button" class="btn btn-primary"><i class="bi bi-pen-fill"></i></a>
						    <a th:href="@{/utilisateur/delete(id=${uti.id})}" type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
						  </div>
					</td>
				</tr>
			</tbody>
			
			<tfoot>
				<tr>
					<td colspan="9"><a th:href="@{/utilisateur/add}" class="btn btn-success btn-lg"><i class="bi bi-plus-square-fill"></i></a></td>
				</tr>			
			</tfoot>
		</table>
	</div>
	</section>
</body>
</html>