<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layout.html">
<head>
<meta charset="UTF-8">
<title>Liste des compétences</title>
</head>
<body>
	<section layout:fragment="monContenu">
		<div class="container mt-3">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Niveau de compétences</th>
				<th>Formateurs</th>
				<th>Matière</th>
				<th></th>
			</tr>
			</thead>

			<tbody>
				<tr th:each="competence : ${competences}">
					<td>[[${competence.niveau}]]</td>
					<td>[[${competence.formateur?.nom}]]</td>
					<td>[[${competence.matiere?.titre}]]</td>
					<td><div class="btn-group btn-group-sm">
						    <a th:href="@{/competence/edit(id=${competence.id})}" type="button" class="btn btn-primary"><i class="bi bi-pen-fill"></i></a>
						    <a th:href="@{/competence/delete(id=${competence.id})}" type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
						  </div>
					</td>
				</tr>
			</tbody>
			
			<tfoot>
				<tr>
					<td colspan="5"><a th:href="@{/competence/add}" class="btn btn-success btn-lg"><i class="bi bi-plus-square-fill"></i></a></td>
				</tr>			
			</tfoot>
		</table>
	</div>
	</section>
</body>
</html>